<%= link_to "back to admin", admin_index_path, class: "admin-btn" %>

<h3>Edit: <strong><%= @video.title %></strong></h3>

<% if flash[:notice] %>
  <p class="flash"><%= raw(flash[:notice]) %></p>
<% end %>

<% if @video.errors.any? %>
  <p class="error"><%= @video.errors.full_messages.join(", ") %></p>
<% end %>

<p><%= link_to video_url(@video), video_url(@video) %></p>

<%= form_for @video, url: admin_video_path(@video), method: :put do |f| %>
  <p><%= f.label :title %> <%= f.text_field :title %></p>
  <p><%= f.label :host %><%= f.select :host, options_for_select([["Select One", ""],"vimeo", "youtube"], @video.host) %></p>
  <p><%= f.label :host_identifier %> <%= f.text_field :host_identifier %></p>
  <p><%= f.label :image_url %> <%= f.text_field :image_url %></p>
  <p><%= f.label :still %> <%= @video.still_file_name if @video.still_file_name.present? %>
    <%= f.file_field :still %>
  </p>
  <p><%= f.label :order %> <%= f.text_field :order %></p>

  <%= link_to 'Update Video', "#", :onclick => "$('.edit_video').submit()", class: "admin-btn" %>
<% end %>
