<%= link_to "back to admin", admin_index_path, class: "admin-btn" %>

<h3>Add a new video</h3>
<% if flash[:notice] %>
  <p class="flash"><%= raw(flash[:notice]) %></p>
<% end %>

<% if @video.errors.any? %>
  <p class="error"><%= @video.errors.full_messages.join(", ") %></p>
<% end %>

<%= form_for @video do |f| %>
  <p><%= f.label :title %> <%= f.text_field :title %></p>
  <p><%= f.label :host %><%= f.select :host, options_for_select([["Select One", ""],"vimeo", "youtube"]) %></p>
  <p><%= f.label :host_identifier %> <%= f.text_field :host_identifier %></p>
  <p><%= f.label :image_url %> <%= f.text_field :image_url %></p>
  <p><%#= f.label :image %> <%#= f.file_field :image %></p>
  <p><%= f.label :order %> <%= f.text_field :order %></p>

  <%= link_to 'Create Video', "#", :onclick => "$('#new_video').submit()", class: "admin-btn" %>
<% end %>
