<div id="about" class="section">
  <div><%= mail_to "lindseyevejacobson@gmail.com", image_tag("http://lindseyevejacobson.files.wordpress.com/2012/12/img_5239c1.jpg?w=255&h=300", :id =>"profile-image") %></div>
  <h3 id="email"><%= mail_to "lindseyevejacobson@gmail.com" %>
  <h3 id="phone">(516) 459-2959</h3>

  <div id="soclinks">
  <%= link_to image_tag( 'facebook_256.png',  :class => "soclink"), 'http://www.facebook.com/lindsey.jacobson',:target => '_blank' %>
  <%= link_to image_tag( 'twitter_256.png',  :class => "soclink"), 'http://twitter.com/LindseyEve',:target => '_blank' %>
  <%= link_to image_tag( 'linkedin_256.png',  :class => "soclink"), 'http://www.linkedin.com/profile/view?id=73869820',:target => '_blank' %>
  <%= link_to image_tag( 'wordpress_256.png',  :class => "soclink"), 'http://championsbreakfast.wordpress.com/',:target => '_blank' %>
</div>

</div>




