<div id="about" class="section">
  <%= mail_to "lindseyevejacobson@gmail.com", image_tag("http://lindseyevejacobson.files.wordpress.com/2012/12/img_5239c1.jpg?w=255&h=300", :id =>"profile-image") %>
  <h3 id="email"><%= mail_to "lindseyevejacobson@gmail.com" %>
  <h3 id="phone">(516) 459-2959</h3>

  <div id="soclinks">
  <%= link_to image_tag( 'facebook_256.png',  :class => "soclink"), 'http://www.facebook.com/andyglass1',:target => '_blank' %>
  <%= link_to image_tag( 'twitter_256.png',  :class => "soclink"), 'https://twitter.com/andrewglass1',:target => '_blank' %>
  <%= link_to image_tag( 'linkedin_256.png',  :class => "soclink"), 'http://www.linkedin.com/in/andrewglass1',:target => '_blank' %>
  <%= link_to image_tag( 'wordpress_256.png',  :class => "soclink"), 'http://andyglassblog.wordpress.com/',:target => '_blank' %>
</div>

</div>