<div id="cv" class="section">

<p class="cv-line first"><%= link_to "Powershift Documentary", "http://www.youtube.com/watch?v=Gn0KYPe8glA", :target => "_blank" %><span class="date">Winter 2009</span></p>
<p class="job">Filmmaker</p>

<p class="cv-line">Maroon Goes Green Public Service Announcements<span class="date">Spring 2008</span></p>
<p class="job">Filmmaker</p>

<p class="cv-line"><%= link_to "Macula Films", "http://www.maculafilms.com/", :target => "_blank" %><span class="date">August 2012-Present</span></p>
<p class="job">Assistant Editor</p>

<p class="cv-line"><%= link_to "REACT to FILM", "http://www.youtube.com/reacttofilm", :target => "_blank" %><span class="date">Feb 2011-Present</span></p>
<p class="job">Editor and Director-High School Program</p>

<p class="cv-line"><%= link_to "Charriol USA Catalog Shoot", "http://www.charriolusa.com/", :target => "_blank" %><span class="date">December 2012</span></p>
<p class="job">Production Coordinator</p>

<p class="cv-line"><%= link_to "My Parents Are Crazier Than Yours", "http://myparentsarecrazierthanyours.com", :target => "_blank" %><span class="date">September 2012</span></p>
<p class="job">Production Assistant</p>

<p class="cv-line"><%= link_to "Colgate University", "http://www.colgate.edu/offices-and-services/information-technology/classroom/digital-media-services", :target => "_blank" %><span class="date">Nov 2007-May 2010</span></p>
<p class="job">Digital Media Intern</p>

<p class="cv-line"><%= link_to "The TEAK Fellowship", "http://www.teakfellowship.org/learn/teak-video-gallery", :target => "_blank" %><span class="date">Summer 2009</span></p>
<p class="job">Video and PR Intern</p>

<p class="cv-line"><%= link_to "The Canary Project", "http://canary-project.org/", :target => "_blank" %><span class="date">Summer 2008</span></p>
<p class="job">Video and Web Intern</p>

<p class="cv-line"><%= link_to "Washington Public Interest Research Group", "http://washpirg.org/", :target => "_blank" %><span class="date">Aug 2010-April 2011</span></p>
<p class="job">Program Associate</p>

<p class="cv-line"><%= link_to "rockaway113.com", "http://rockaway113.com/", :target => "_blank" %><span class="date">November-December 2012</span></p>
<p class="job">Assistant Editor</p>
<p class="job">Camera Assistant</p>
</div>

<!-- Education
 
Colgate University, Hamilton, NY; Bachelor of Arts, 2010, Magna Cum Laude           GPA: 3.58
            Major: Sociology and Anthropology                           GPA: 3.74
Minor: Film and Media Studies                                                GPA: 3.50
                        Dean’s Award for Academic Excellence                                               Spring 2007-May 2010
 
Post Production Skills
Adobe After Effects, Adobe InDesign, Adobe Photoshop, Avid, Final Cut Pro, iMovie, Microsoft Office Suite, and Soundtrack Pro
 -->