<div id="work" class="section video-slider active">
  <div id="arrow-container-left">
  <%= link_to content_tag("span", "‹", :class => "arrow"), "", :id => "move-left", :class => "shifter shifter-left" %>
  </div>
  <div>
  <%= link_to content_tag("span", "›", :class => "arrow"), "", :id => "move-right", :class => "shifter shifter-right" %>
  </div>
  <div id="window">
    <ul id="video-slider-list" data-current="1" data-maxspots="<%= @videos.count %>">

      <% @videos.each do |video| %>
        <li>
          <a href="<%= video.link %>" rel="shadowbox" class="vid-link" data-link="<%= video.link %>">
            <%= image_tag "play_2.png", :class => "play-button" %>
            <img class="vid-image-slider" src="<%= video.photo %>">
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <p id="page-links">
    <% @videos.count.times do |i| %>
      <%= link_to "", "", 'data-id' => "#{i +1}", :class=> "video-page circle#{' active-video-page' if i == 0}" %>
    <% end %>
  </p>
</div>

